{% include 'bufe/admin/admin_header.html.twig' %}
<title>Admin irányítópult</title>
<div class="container-fluid">

	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Irányítópult</h1>
	</div>

	<div class="row">
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-success shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-success text-uppercase mb-1">
								Kereset (Napi)</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">{{dailyEarnings|default(0)}}
								Ft</div>
						</div>
						<div class="col-auto">
							<i class="fa-solid fa-calendar-day fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
								Kereset (Heti)</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">{{weeklyEarnings|default(0)}}
								Ft</div>
						</div>
						<div class="col-auto">
							<i class="fa-solid fa-calendar-week fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-secondary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
								Felhasználók száma</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">{{userCount|default(0)}}</div>
						</div>
						<div class="col-auto">
							<i class="fa-solid fa-user fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-info shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-info text-uppercase mb-1">
								Rendelések száma</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">{{orderCount|default(0)}}</div>
						</div>
						<div class="col-auto">
							<i class="fa-solid fa-truck-fast fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xl-8 col-lg-7">
			<div class="card shadow mb-4">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" width="100%" cellspacing="0">
							<caption>Legeladottabb termékek:</caption>
							<thead>
								<tr>
									<th>Kép</th>
									<th>Megnevezés</th>
									<th>Kategória</th>
									<th>Egységár</th>
									<th>Eladott mennyiség</th>
								</tr>
							</thead>
							<tbody>
								{% for product in products %}
									<tr>
										<td><img src="App/assets/product_images/{{product.image}}" alt="{{ product.name }}" class="rounded-circle"></td>
										<td>{{ product.name }}</td>
										<td>{{ product.category }}</td>
										<td>{{ product.unit_price }}
											Ft</td>
										<td>{{ product.total_quantity }}
											db</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-4 col-lg-5">
			<div class="card shadow mb-4">
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-white">Kategóriák eladásainak száma:</h6>
				</div>
				<div class="card-body">
					<div class="chart-pie pt-4 pb-2">
						<canvas id="myPieChartCategories"></canvas>
					</div>
					<div class="mt-4 text-center small">
						<span class="mr-2">
							<i class="fas fa-circle langos"></i>
							Lángos
						</span>
						<span class="mr-2">
							<i class="fas fa-circle frissensultek"></i>
							Frissensültek
						</span>
						<span class="mr-2">
							<i class="fas fa-circle hamburgerek"></i>
							Hamburgerek
						</span>
						<span class="mr-2">
							<i class="fas fa-circle hot-dogok"></i>
							Hot-dogok
						</span>
						<span class="mr-2">
							<i class="fas fa-circle koretek"></i>
							Köretek
						</span><br>
						<span class="mr-2">
							<i class="fas fa-circle desszertek"></i>
							Desszertek
						</span>
						<span class="mr-2">
							<i class="fas fa-circle alkoholos-italok"></i>
							Alkoholos italok
						</span>
						<span class="mr-2">
							<i class="fas fa-circle uditok"></i>
							Üdítők
						</span>
						<span class="mr-2">
							<i class="fas fa-circle ontetek"></i>
							Öntetek
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		var categoryCount = {{ categoryCount|json_encode|raw }};
	</script>

	{% include 'bufe/admin/admin_footer.html.twig' %}
