{% include 'header.html.twig' %}
<main>
	<div class="bg-img">
		<img class="animate__animated animate__fadeIn" src="App/images/to.png" alt="borítókép">
	</div>
	<div class="mask" style="background-color: rgba(0, 0, 0, 0.4);">
		<div class="d-flex justify-content-center align-items-center h-100">
			<div class="text-white text">
				<h1 class="mb-3">Üdvözöljük, a<span>Tó-Strand Büfénél</span>
				</h1>
				<h4 class="mb-3 para fw-bold">Ismerje meg jobban a Bánki Tó-Strand egyetlen kifőzdéjét, amely a meseszép völgy szívében
																													helyezkedik el</h4>
				<div class="text-center">
					<a class="btn" href="/rolunk" role="button">Bővebben</a>
				</div>
			</div>
		</div>
	</div>
</main>

<section id="aboutus" class="aboutus">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-5 align-items-stretch image-box"></div>
			<div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

				<div class="content">
					<h3>
						<strong>Ismerjen meg</strong>
						minket jobban
					</h3>
					<p>
						Kifőzdénk Bánkon található, amely kis településként húzódik meg a Cserhát és a Börzsöny lábánál.
					</p>
					<p class="fst-italic">
						Nógrád megye állóvizekben meglehetősen szegény, ezért is nevezetes a "tengerszeméről" elnevezett, festői környezetű, erdőségekkel határolt Bánki-tó.
					</p>
					<ul>
						<li>
							<i class="bx bx-check-double"></i>
							A Bánki Tó-Strand Nógrád megye egyik ha nem a legkedveltebb strandja.</li>
						<li>
							<i class="bx bx-check-double"></i>
							A Tó-színpad minden nyáron számtalan programmal várja az ide érkezőket.</li>
						<li>
							<i class="bx bx-check-double"></i>
							Nógrád megye egyik legnagyobb horgász-paradicsomának számít a tavunk, mely mint a stégeken, mint a tavon csónakkal is megfelelő kikapcsolódás lehet a pecázni vágyóknak.</li>
					</ul>
					<p>
						A tó jelenlegi adatai: átlagos mélység: 3,94 m; legmélyebb pontja: 5,99 m; a tó felülete: 7 ha 8730 m2; vízmennyiség: 325.656 m3, üzemvízszint: 169,89 m B.f.
					</p>
					<p>
						Gyönyörű tavunk minden nyáron rengeteg embert vonz a strandjára, melynek egyetlen büféje a miénk, így ha nyáron a Bánki Tó-Strandon jár, ne habozzon betérni hozzánk.
					</p>
				</div>

			</div>

		</div>

	</div>
</section>

<section class="bg-service bg-section" id="service">
	<div class="container-fluid text-center">
		<div class="">
			<h1 class="container-h1">Miért válasszon minket?</h1>
			<hr class="hr-h3s">
		</div>
		<div class="row service-round-3">
			<div class="col-sm-4 text-center round">
				<div class="service-round b-party">
					<i class="fa fa-4x fa fa-burger  sr-icons"></i>
				</div>
				<h4>Minőségi gyors-ételek</h4>
				<p>Csakis minőségi és friss alapanyagokkal dolgozunk</p>
			</div>
			<div class="col-sm-4 text-center round">
				<div class="service-round wedding">
					<i class="fa fa-4x fa fa-car sr-icons"></i>
				</div>
				<h4>Gyors házhozszállítás</h4>
				<p>Bánk környékén villámgyors házhozszállítást biztósítunk</p>
			</div>
			<div class="col-sm-4 text-center round">
				<div class="service-round b-dinner">
					<i class="fa fa-4x fa fa-umbrella-beach  sr-icons"></i>
				</div>
				<h4>Közvetlen strand</h4>
				<p>A Bánki Tó-Strand közvetlen szívében található kifőzdénk</p>
			</div>
		</div>
	</div>
</section>


<section id="stats-counter" class="stats-counter">
	<div class="container" data-aos="zoom-out">
		<div class="row gy-4">
			<div class="col-lg-4 col-md-6">
				<div class="stats-item text-center w-100 h-100">
					<span data-purecounter-start="0" data-purecounter-end="70" data-purecounter-duration="1" class="purecounter"></span>
					<p>Termékek száma</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="stats-item text-center w-100 h-100">
					<span data-purecounter-start="0" data-purecounter-end="118" data-purecounter-duration="1" class="purecounter"></span>
					<p>Rendelések száma</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="stats-item text-center w-100 h-100">
					<span data-purecounter-start="0" data-purecounter-end="14" data-purecounter-duration="1" class="purecounter"></span>
					<p>Felhasználóink száma</p>
				</div>
			</div>
		</div>

	</div>
</section>

<section class="hero">
	<h1 class="title">Büfé legeladottabb termékei:</h1>
	<div class="swiper hero-slider">
		<div class="swiper-wrapper">
			<div class="swiper-slide slider">
				<div class="content">
					<span>Rendeljen online</span>
					<h3>Gyros</h3>
					<a href="/etlap" class="mainbtn">Étlapunk</a>
				</div>
				<div class="image">
					<img src="App/images/gyros_plate.png" alt="Gyros tál">
				</div>
			</div>

			<div class="swiper-slide slider">
				<div class="content">
					<span>Rendeljen online</span>
					<h3>Hekk</h3>
					<a href="etlap" class="mainbtn">Étlapunk</a>
				</div>
				<div class="image">
					<img src="App/images/sult_hekk.png" alt="Sült hekk">
				</div>
			</div>

			<div class="swiper-slide slider">
				<div class="content">
					<span>Rendeljen online</span>
					<h3>Lángos</h3>
					<a href="/etlap" class="mainbtn">Étlapunk</a>
				</div>
				<div class="image">
					<img src="App/images/langos.png" alt="Sajtos-tejfölös lángos">
				</div>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
</section>

<section class="products">
	<h1 class="title">Ajánlott termékeink</h1>
	<section class="main-content">
		<div class="container">
			<div class="row">
				{% for item in items %}
					<div class="blokkok col-md-4 ">
						<div class="food-card">
							<div class="food-card_img">
								<img src="https://i.imgur.com/eFWRUuR.jpg" alt="{{item.name}}">
							</div>
							<div class="food-card_content" data-category="{{item.name}}">
								<div class="food-card_title-section">
									<h5 class="food-card_title">{{ item.nev }}</h5>
									<p class="food-card_author">{{ item.catname }}</p>
								</div>
								<div class="food-card_bottom-section">
									<hr>
									<div class="space-between">
										<div class="food-card_price">
											<span>{{item.unit_price}}
												Ft</span>
										</div>
										<div class="">
											<a class="food-card_cart">
												<i class="fa-solid fa-cart-plus"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<div class="more-btn">
		<a href="/etlap" class="mainbtn">Összes megtekintése</a>
	</div>
</section>

{% include 'footer.html.twig' %}</body></html>
